*{
    margin: 0;
    padding: 0;
    font-family: nos;
    box-sizing: border-box;
}
@font-face{
    src: url(font/Poppins/Poppins-Light.ttf);
    font-family: nos;
}

:root{
    --black:#000;
    --mustard:#fa9f1f;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    padding: 1.5rem 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo{
    cursor: default;
}
.navbar{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.navbar a{
    color: var(--black);
    text-decoration: none;
}

.navbar a:hover{
    border-bottom: 1px solid var(--mustard);
    transition: .2s;
}

.btncv{
    border: 1px solid var(--mustard);
    background-color: transparent;
    padding: 0.4rem 0.6rem;
    border-radius: 5px;
}
.btncv:hover{
    background-color: var(--mustard);
    transition: .2s;
}




footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fa9f1f;
}

/*---------Navbar-------------*/
section{
    /*css for all section on the website*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.section{
    /*this section is for changing the background image per section*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-01{
    background-image: url(/assets/backgrounds/background01.png);
}
.card-greet{
    font-size: 3rem;
}
.card-name{
    font-size: 4rem;
    font-weight: bold;
}
.card-greet,.card-name{
    line-height: 3rem;
}
.btnResume{
    border: none;
    padding: 10px 15px;
    background-color: #fa9f1f;
}
.tile-image img{
    width: 35vw;
    height: auto;
}
.section-02 .left{
    order: 1;
}
.card-intro p{
    text-align: justify;
}
.footer{
    padding: 1rem;
    
}


@media (max-width: 1250px) {
    .section{
        flex-direction: column;
        height: auto;
    }
}
