*{
    margin: 0;
    padding: 0;
    font-family: nos;
}
@font-face{
    src: url(font/Poppins/Poppins-Light.ttf);
    font-family: nos;
}
nav{
    text-align: center;
    height: 40px;
    background-color: black;
}
a{
    margin: 0.5rem;
    text-align: center;
}
.section-01{
    height: 0;
    padding-bottom: 40%;
    position: relative;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100%;
    background-image: url(./assets/backgrounds/background01.png);
}
.text-box{
    top: 15%;
    left: 5%;
    width: 50%;
    position:absolute;
    line-height: 3rem;
}
.greet ,.myName{
    font-weight: bold;
}
.greet{
    font-size: 2em;
}
.myName{
    font-size: 4em;
}
.container{
    top: 0;
    right: 0;
    width: 50%;
    position:absolute;
}
.section-01 .container .image01{
    width: 50%;
}

