*{
    margin: 0;
    padding: 0;
    font-family: nos;
}
@font-face{
    src: url(font/Poppins/Poppins-Light.ttf);
    font-family: nos;
}
nav{
    height: 40px;
    background-color: black;
}
a{
    margin: 0.5rem;
    text-align: center;
}
.section{
    
}
.section-01{
    position: relative;
    background-color: aqua;
}
.section-01 .text-box .greet{
    font-size: 2rem;
}
.section-01 .text-box .myName{
    font-size: 4rem;
    font-weight: bold;
}
.section-01 .text-box .job{
    font-size: 1rem;
}
.text-box{
    padding-left: 3rem;
    padding-top: 2.5rem;
    width: 20rem;
    
    background-color: firebrick;
}
.image01{
    height: 10rem;
    position: absolute;
}